<div class="form-bg"></div> 

    <div class="container">
      <h1 class="heading">Register:</h1>
      <form class="form" action="#" (ngSubmit)="saveRegister()" [formGroup]="myForm">
        <div class="form-group">

          <input type="text" class="form-control" placeholder="Name" formControlName="nombre"  />
          <i class="fa fa-user form-control-feedback"></i>

          <span class="form-text text-danger" *ngIf="isValidField('nombre')">
            must be 3 letters
          </span>


        </div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" formControlName="email" />
          <i class="fa fa-envelope form-control-feedback"></i>

          <span class="form-text text-danger" *ngIf="isValidField('email')">
            must be a valid Email
          </span>

          


        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" formControlName="password" />
          <i class="fa fa-lock form-control-feedback"></i>


          <span class="form-text text-danger" *ngIf="isValidField('password')">
            It must be a password of more than 8 letters
          </span>

        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirPassword"/>
          <i class="fa fa-lock form-control-feedback"></i>

          <span class="form-text text-danger" *ngIf="isValidField('confirPassword')">
            It must be a password of more than 8 letters
          </span>
          
          <span class="form-text text-danger" *ngIf="isValidPass('confirPassword')">
            Passwords must match
          </span>
          
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        &nbsp;&nbsp;
        <button button type="button" class="btn btn-danger" href="#" [routerLink]="['/login']" routerLinkActive="active" >Back</button>
      </form>
    </div>
  
  <!-- <app-footer></app-footer> -->

