
  .form-bg {
    position: absolute; /* Establecemos una posición absoluta para la imagen de fondo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* La imagen de fondo debe estar detrás del formulario */
    background: url("https://images.alphacoders.com/104/thumb-1920-1046781.jpg") center/cover no-repeat fixed; /* Agregamos la imagen de fondo */
    filter: blur(5px); /* Aplicamos un filtro de desenfoque */
  }

  /* Estilos para la tarjeta de registro */
  .container {
    width: 400px;
    margin: 100px auto;
    border: none;
    background-color: #f7f7f7;
    transition: all 0.3s ease;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 30px 35px;
    border-radius: 15px;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    
  }
  
  .heading {
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 30px;
  }
  
  .form-group label {
    font-weight: 600;
  }
  
  .form-control {
    border-radius: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: #b4d4f2;
    
  }
  
  /* Estilos para el botón de registro */
  .btn-primary {
    background-color: #5c5ae5;
    border: none;
    transition: all 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #4543d6;
  }
  
  /* Estilos para los iconos */
  .form-control-feedback {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 2;
    color: #ccc;
  }
  
 
  