<app-navbar></app-navbar>
<!-- cart.component.html -->
<h2>Cart</h2>

<button button type="button" class="btn btn-danger espaciado" href="#" [routerLink]="['/books/list']" routerLinkActive="active" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
  <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
</svg> &nbsp;Back</button>

<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of books">
        <td><img [src]="item.book.img" alt="imgBook"width="120" height="120"></td>
        <td>{{ item.book.isbn }}</td>
        <td>{{ item.book.title }}</td>
        <td>{{ item.book.price | currency }}</td>
        <td>
          
            <input type="number"  aria-label="quantity" [(ngModel)]="item.cantidad" (ngModelChange)="updateItem(item, $event)" min="1" max="{{item.book.stock}}">

          </td>
        <button class="borrar-btn" aria-label="delete"  (click)="removeItem(item.book)"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16" >
          <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
        </svg> &nbsp;Delete</button>
        <!-- <td>
            <button (click)="updateItem(item,item.cantidad)">Actualizar</button>
          </td> -->
      </tr>
    </tbody>
  </table>

<h5><p>Total: {{total}} $</p></h5>
<div class="botones-container">
  <form method="post" action="#"  (ngSubmit)="addBuy()" enctype="multipart/form-data">
  
    
    <button *ngIf="books.length" class="comprar-btn" type="submit"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-heart-fill" viewBox="0 0 16 16">
      <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
    </svg> &nbsp;Buy Now</button> 
       
  </form>
<!-- <button class= "borrar-btn" (click)="clearCart()">Clear cart</button> -->
</div>
<br>
<app-footer></app-footer>