<app-navbar></app-navbar>
<!-- cart.component.html -->
<h2>Cart</h2>

<table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of books">
        <td><img [src]="item.book.img" width="120" height="120"></td>
        <td>{{ item.book.isbn }}</td>
        <td>{{ item.book.title }}</td>
        <td>{{ item.book.price | currency }}</td>
        <td>
            <input type="number" [(ngModel)]="item.cantidad" (ngModelChange)="updateItem(item, $event)" min="1" max="{{item.book.stock}}">

          </td>
        <button class="borrar-btn" (click)="removeItem(item.book)">Delete</button>
        <!-- <td>
            <button (click)="updateItem(item,item.cantidad)">Actualizar</button>
          </td> -->
      </tr>
    </tbody>
  </table>

<h5><p>Total: {{total}} $</p></h5>
<div class="botones-container">
  <form method="post" action="#"  (ngSubmit)="addBuy()" enctype="multipart/form-data">
  
    
    <button class="comprar-btn" type="submit">Buy Now</button> 
       
  </form>
<!-- <button class= "borrar-btn" (click)="clearCart()">Clear cart</button> -->
</div>
<br>
<app-footer></app-footer>