table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }
  
  th,
  td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: left;
  }
  
  th {
    font-weight: 500;
    background-color: #f8f9fa;
    border-bottom: 2px solid #dee2e6;
  }
  
  td {
    border-bottom: 1px solid #dee2e6;
  }

  .botones-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
  }
  
  .comprar-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1em; /* Añade un margen entre los botones */
  }
  
  .borrar-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .espaciado{
    margin: 0.5em;
  }
  