<app-navbar></app-navbar>

<body>
    <div class="container">
      <h1 class="heading">Actualizar tus datos</h1>
      <form class="form" action="#" (ngSubmit)="saveUpdate()" [formGroup]="myForm" enctype="multipart/form-data">
        <div class="form-group" >
          <label for="input2">Profile pic:</label>
          <img src="{{user.img}}" alt="avatar"
               class="rounded-circle img-fluid" style="width: 150px;"> 
              </div>
        <div class="form-group">
          <label for="input2">username:</label>
          <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre"  [(ngModel)]="user.username" />
          <i class="fa fa-user form-control-feedback"></i>

          <span class="form-text text-danger" *ngIf="isValidField('nombre')">
            Debe de ser de 3 letras
          </span>


        </div>
        <div class="form-group">
          <label for="input2">email:</label>
          <input type="email" class="form-control" placeholder="Correo electrónico" formControlName="email" [(ngModel)]="user.email" />
          <i class="fa fa-envelope form-control-feedback"></i>

          <span class="form-text text-danger" *ngIf="isValidField('email')">
            Es obligatorio un email valido
          </span>

          


        </div>
        <div class="form-group">
          <label for="input2">password:</label>
          <input type="password" class="form-control" placeholder="*************************" formControlName="password"  />
          <i class="fa fa-lock form-control-feedback"></i>


          <span class="form-text text-danger" *ngIf="isValidField('password')">
            La contraseña debe de ser de más de 8 caracteres.
          </span>

        </div>
        <div class="form-group">
          <label for="input2">confirm password:</label>
          <input type="password" class="form-control" placeholder="*************************" formControlName="confirPassword"/>
          <i class="fa fa-lock form-control-feedback"></i>

          <span class="form-text text-danger" *ngIf="isValidField('confirPassword')">
            La contraseña debe de ser de más de 8 caracteres.
          </span>
          
          <span class="form-text text-danger" *ngIf="isValidPass('confirPassword')">
            Las contraseñas deben coincidir
          </span>
          
        </div>
        <div class="form-group">
          <label for="input2">Profile pic:</label>
            <input type="file" class="form-control" placeholder="Photo" formControlName="fotoPerfil" name="fotoPerfil" (change)="onFileChange($event)"/>
            
            <i class="fa fa-lock form-control-feedback"></i>
  
  
            <!-- <span class="form-text text-danger" *ngIf="isValidField('password')">
              La contraseña debe de ser de más de 8 caracteres.
            </span> -->
  
          </div>
        <button type="submit" class="btn btn-primary espacioButton">Edit your data</button>
        <button button type="button" class="btn btn-primary" href="#" [routerLink]="['/user/list']" routerLinkActive="active" >Back</button>
      </form>
    </div>
  </body>

<app-footer></app-footer>
