<body>
    <div class="container formulario">
      <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
          <form  action="#" method="post" #addCategory="ngForm" (ngSubmit)="addCategories()">
            <div class="form-group">
              <label for="input1">Nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="Introduce el nombre de la categoria" required [(ngModel)]="name" ngModel name="name" minlength="3">

              <span class="form-text text-danger" *ngIf="nombreValido('name')" >
                La contraseña debe de tener más de 3 caracteres
              </span>
            </div>
            <div class="form-group">
              <label for="input2">Descripcion</label>
              <input type="text" class="form-control" id="descripcion" placeholder="Introduce la descripcion de la categoria" required [(ngModel)]="description" name="description" minlength="3">

              <span class="form-text text-danger" *ngIf="nombreValido('description')" >
                La contraseña debe de tener más de 3 caracteres
              </span>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
    </div>
    <!-- Cargamos los scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>