<body>
    <div class="container">
      <h1 class="heading">Editar Categoria</h1>
      <form class="form"  action="#" method="post" #updateCategory="ngForm" (ngSubmit)="updateCategories()">
        <div class="form-group">
          <label for="input2">Name:</label>
          <input type="text" class="form-control" id="nombre" placeholder="Introduce el nombre" required [(ngModel)]="name" ngModel name="name" minlength="3" readonly>

              <span class="form-text text-danger" *ngIf="nombreValido('name')" >
                El nombre debe de tener más de 3 caracteres
              </span>

        </div>
        <div class="form-group">
          <label for="input2">Descripcion</label>
              <input type="text" class="form-control" id="descripcion" placeholder="Introduce la descripcion" required [(ngModel)]="description" name="description" minlength="3">

              <span class="form-text text-danger" *ngIf="nombreValido('description')" >
                La descripcion debe de tener más de 3 caracteres
              </span>

          


        </div>
       
         <button type="submit" class="btn btn-primary espacioButton">Editar Categoria</button>
         <button button type="button" class="btn btn-primary" href="#" [routerLink]="['/category/list']" routerLinkActive="active" >Back</button>
      </form>
    </div>
  </body>
