<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"  [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Bookshop Villarreal</a>
          <img src="https://res.cloudinary.com/dx46uo2cv/image/upload/v1675940571/Logo_Librer%C3%ADa_Lineal_Azul_Rosa__1_-removebg-preview_vo8d1z.png" width="100px" height="100px" class="d-block img-fluid" alt="logo Bookshop">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item espacioHome">
                <a class="nav-link " aria-current="page" href="#" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
              </li>
              <li class="nav-item dropdown espacioHome">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" [routerLink]="['/category/list']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                      Categories
                </a>
                    <!-- Primer desplegable -->
                <ul class="dropdown-menu espacioHome" *ngIf="isAdmin">
                  <li><a class="dropdown-item" href="#"  [routerLink]="['/category/addCategory']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Add Category</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown espacioHome">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" [routerLink]="['/books/list']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                      Books
                </a>
                <!-- Segundo desplegable -->
                <ul class="dropdown-menu espacioHome" *ngIf="isAdmin">
                  <li><a class="dropdown-item" href="#" [routerLink]="['/books/addBook']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Add Book</a></li>
                 
                </ul>
              </li>

              <li class="nav-item espacioHome" *ngIf="isAdmin">
                <a class="nav-link " aria-current="page" href="#" [routerLink]="['/user/list']"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Users</a>
              </li>
             
               <!-- Primer desplegable -->

              
            </ul>
            <div class="cart-badge">
            <button type="button" class="btn btn-outline-dark " [routerLink]="['/shopping/list']">
              <i class="fas fa-shopping-cart fa-lg" #iconoCarrito></i>
              <span class="badge badge-pill badge-primary text-dark">{{ carrito.length }}</span>
            </button>
          </div>

            <!-- <a href="#" [routerLink]="['/shopping/list']" class="cart-icon " >
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart-fill text-dark " viewBox="0 0 16 16" >
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
            </a> -->

           
            <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
            
            <ul class="navbar-nav me-auto mb-lg-0">
              <li class="nav-item dropdown dropdown-menu-right">
                <a class="text-white nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="logueado" >
                  <img src="{{user.img}}" default class="d-block img-fluid logoUser imgRedonda"  alt="logoUser" width="50px" height="100px" >
                </a>
                <a class="text-white nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="!logueado">
                  <img src="https://res.cloudinary.com/dx46uo2cv/image/upload/v1675942692/24-248253_user-profile-default-image-png-clipart-png-download-removebg-preview_trleza.png" default class="d-block img-fluid logoUser imgRedonda"  alt="logoUser" width="50px" height="100px" >
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li *ngIf="!logueado"><a class=" dropdown-item" href="#" [routerLink]="['/login/']" >Login</a></li>
                  <li><a class=" dropdown-item"  (click)="logOut()" [routerLink]="['/']" >Logout</a></li>
                  
                  <li><a class=" dropdown-item" href="#" [routerLink]="['/user/updateUser/',userDetails]" >Update profile</a></li>
                      
                </ul>
              </li>
            </ul>
            
            </div>
          </div>
       
      </nav>

      





  
  