<app-navbar></app-navbar>
<div class="row">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://res.cloudinary.com/dx46uo2cv/image/upload/v1675861344/Beautiful-Library-Wallpaper_hhakyk.jpg" class="d-block  img-fluid  w-100" alt="imagenLibro 3">
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/dx46uo2cv/image/upload/v1676112888/3346755_dtj4tj.jpg" class="d-block img-fluid  w-100" alt="fotoLibro1">
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/dx46uo2cv/image/upload/v1676113069/0-3795_wallpaper-books-library-shelves-lighting-hd-book-library_ck064n.jpg" class="d-block img-fluid  w-100" alt="imagenLiberia2">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    
    <div class="row bg-body-light welcomediv">
        <div class="col text-dark bienvenida">
          <h1> Welcome to Libreria Villarreal. </h1>
          <hr>
          <p id="descripcion">Here you will have everything related to their best books of the best categories available and the best premieres.
          </p>
        </div>
        <div class="col bienvenida">
          <img src="https://res.cloudinary.com/dx46uo2cv/image/upload/v1675940571/Logo_Librer%C3%ADa_Lineal_Azul_Rosa__1_-removebg-preview_vo8d1z.png" class=" img-fluid w-50" alt="imagenLogo" >
        </div>
    </div>
    </div>
    <app-footer></app-footer>