<app-navbar></app-navbar>

<body>
    <div class="container">
      <h1 class="heading">Add Book</h1>
      <form class="form" action="#" (ngSubmit)="saveAdd()" [formGroup]="myForm" enctype="multipart/form-data">
        
        <div class="form-group">
          <label for="input2">Isbn:</label>
          <input type="text" class="form-control" placeholder="Isbn" formControlName="isbn"   />
          <i class="fa fa-user form-control-feedback"></i>

          <span class="form-text text-danger" *ngIf="isValidField('isbn')">
            Debe de ser un isbn válido
          </span>


        </div>

        <div class="form-group">
            <label for="input2">Title:</label>
            <input type="text" class="form-control" placeholder="title" formControlName="title"   />
            <i class="fa fa-user form-control-feedback"></i>
  
            <span class="form-text text-danger" *ngIf="isValidField('title')">
              Debe de ser un titulo de más de 5 letras y unico.
            </span>
  
  
          </div>

          <div class="form-group">
            <label for="input2">DateBook</label>
            <input type="date" class="form-control" placeholder="Date Book" formControlName="date"   />
            <i class="fa fa-user form-control-feedback"></i>
  
            <span class="form-text text-danger" *ngIf="isValidField('date')">
              La fecha es requerida.
            </span>
  
  
          </div>

          <div class="form-group">
            <label for="input2">Author</label>
            <input type="text" class="form-control" placeholder="Author" formControlName="author"   />
            <i class="fa fa-user form-control-feedback"></i>
  
            <span class="form-text text-danger" *ngIf="isValidField('author')">
              El campo author es requerido.
            </span>
  
  
          </div>

          <div class="form-group">
            <label for="input2">Price:</label>
            <input type="number" class="form-control" placeholder="price" formControlName="price"   />
            <i class="fa fa-user form-control-feedback"></i>
  
            <span class="form-text text-danger" *ngIf="isValidField('price')">
              el precio debe de ser mayor de 5
            </span>
  
  
          </div>

          <div class="form-group">
            <label for="input2">Stock:</label>
            <input type="number" class="form-control" placeholder="Stock" formControlName="stock"   />
            <i class="fa fa-user form-control-feedback"></i>
  
            <span class="form-text text-danger" *ngIf="isValidField('stock')">
              Debe de tener un stock mayor que 5
            </span>
  
  
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="form3Example1c">Marca: </label>
                <select name="opcionSeleccionado" formControlName="opcionSeleccionado">
                  
                  <option *ngFor="let category of categories" [value]="category.name">
                      {{category.name}}
                  </option>
              </select>
              
              
               
            </div>
          </div>
    
        <div class="form-group">
          <label for="input2">Profile pic:</label>
            <input type="file" class="form-control" placeholder="Photo" formControlName="fotoPerfil" name="fotoPerfil" (change)="onFileChange($event)"/>
            
            <i class="fa fa-lock form-control-feedback"></i>
  
          </div>
        <button type="submit" class="btn btn-primary espacioButton">Edit your data</button>
        <button button type="button" class="btn btn-primary" href="#" [routerLink]="['/user/list']" routerLinkActive="active" >Back</button>
      </form>
    </div>
  </body>

<app-footer></app-footer>
